
@{
    ViewData["Title"] = "Užsakymų statistika";
}

<h1>Užsakymų statistika</h1>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div id="chart_div1"></div>
<div id="chart_div2"></div>
<div id="chart_div33"></div>
<div id="chart_div3"></div>



<script type="text/javascript">


    google.charts.load('current', {
        packages: ['corechart', 'bar', "treemap"]
    });
    google.charts.setOnLoadCallback(LoadData);

    function LoadData() {
        $.ajax({

            url: '/Admin/GetChartData',
            dataType: "json",
            type: "GET",
            success: function (data) {
                YumChart(data);
                return false;
            }
        });
        return false;
    }

    function YumChart(data) {
        var dataArray1 = [
            ['Patiekalas', 'Pelnas', { role: 'annotation' }]
        ];
        $.each(data.menu, function (i, item) {
            dataArray1.push([item.menuEntryName, item.revenue, item.revenue]);
        });
        var data1 = google.visualization.arrayToDataTable(dataArray1);
        data1.sort({ column: 1, desc: true });

        var dataArray2 = [
            ['Patiekalas', 'Skaičius', { role: 'annotation' }]
        ];
        $.each(data.menu, function (i, item) {
            dataArray2.push([item.menuEntryName, item.counts, item.counts]);
        });
        var data2 = google.visualization.arrayToDataTable(dataArray2);
        data2.sort({ column: 1, desc: true });

        var dataArray3 = [
            ['Staliuko nr.', 'Pasinaudojimo skaičius', { role: 'annotation' }]
        ];
        $.each(data.tables, function (i, item) {
            dataArray3.push([item.tableId, item.count, item.count]);
        });
        var data3 = google.visualization.arrayToDataTable(dataArray3);
        data3.sort({ column: 1, desc: true });

        var dataArray33 = [
            ['Location', 'Parent', 'Market trade volume (size)', 'Market increase/decrease (color)'],
            ['Užsakymų skaičius', null, 0, 0]
        ];
        $.each(data.menu, function (i, item) {
            dataArray33.push([item.menuEntryName, "Užsakymų skaičius", item.counts, item.counts]);
        });
        var data33 = google.visualization.arrayToDataTable(dataArray33);
        data33.sort({ column: 1, desc: true });

        var options1 = {
            title: 'Patiekalų apyvartos grafikas',
            width: 1200,
            height: 600,
            chartArea: {
                width: '80%',
            },
            colors: ['#b0120a', '#7b1fa2', '#ffab91', '#d95f02'],
            hAxis: {
                title: 'Apyvarta'
            },
            vAxis: {
                title: 'Patiekalas',
                width: "200px",
                textStyle: {
                    fontSize: 12,
                }
            }
        };

        var options2 = {
            title: 'Patiekalų užsakymo grafikas',
            width: 1200,
            height: 600,
            chartArea: {
                width: '80%',
                height: '50%',
            },
            colors: [ '#7b1fa2', '#ffab91', '#d95f02'],
            hAxis: {
                title: 'Patiekalas'
            },
            vAxis: {
                title: 'Skaičius',
                width: "200px",
                textStyle: {
                    fontSize: 9,
                }
            }
        };


        var options3 = {
            title: 'Stalikų pasinaudojimo grafikas',
            width: 1200,
            height: 600,
            chartArea: {
                width: '80%',
                height: '50%',
            },
            colors: [ '#ffab91', '#d95f02'],
            hAxis: {
                title: 'Staliuko nr.'
            },
            vAxis: {
                title: 'Pasinaudojimo skaičius',
                width: "200px",
                textStyle: {
                    fontSize: 9,
                }
            }
        };

        var options33 = {
            width: 1200,
            height: 600,
            minColor: '#b82323',
            midColor: '#ebc621',
            maxColor: '##2de358',
            showScale: true,
            generateTooltip: showFullTooltip
        };


        function showFullTooltip(row, size, value) {
            return '<div style="background:#fd9; padding:10px; border-style:solid">' +
                '<span style="font-family:Courier"><b>' + data33.getValue(row, 0) + "buvo užsakyta" +
                data33.getValue(row, 2) + ' kartą/us ' + '</b></span><br></div>';
        }



        var chart1 = new google.visualization.BarChart(document.getElementById('chart_div1'));

        var chart2 = new google.visualization.ColumnChart(document.getElementById('chart_div2'));

        var chart3 = new google.visualization.ColumnChart(document.getElementById('chart_div3'));

        var chart33 = new google.visualization.TreeMap(document.getElementById('chart_div33'));

        chart1.draw(data1, options1);
        chart2.draw(data2, options2);
        chart3.draw(data3, options3);
        chart33.draw(data33, options33);

        return false;
    }
</script> 