@using Microsoft.AspNetCore.Http;
@{
    var role = Context.Session.GetString("role");
    ViewData["Title"] = "Pagrindinis";
}

@if (role == null)
{
    <div class="text-center">
        <h1 class="display-4">Sveiki!</h1>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Sveiki @Context.Session.GetString("name")  @Context.Session.GetString("surname")!</h1>
    </div>
}

